html {
    font-size: 1rem;
}

.top {
    padding: 10px 0px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    .top-bg {
        background-color:#CC66FF;
    }
}

.login-svg {
    height: 120px;
    width: 120px;
    fill: black;
}

.menu-movil {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    cursor: pointer

}
.menu-movil:hover ul.menu-movil-content{
    opacity: 1;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;

}
.contact-form {
    width: 600px;
    padding: 40px 20px;
    border-radius: 5px;
    border: 1px solid rgb(215, 217, 219);
	font-size: 15px;
}

.button{
	background-color: #CC66FF;
	border: #120101;
}

ul.menu-movil-content {
    transition: all .3s ease;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    z-index: 10000;

}
.menu-movil-content li {
    padding: 5px 10px;
    border: 1px solid black;
}

.menu-movil-content li:hover {
    background-color: #CC66FF;
    color: white;
}

.menu-movil-content a {
    color: black;
    text-decoration: none;
}

.menu-movil img {
    height: 20px;
    width: 20px;
}

.top .logo {
    margin-right: 20px
}

.top a.login {
    color: #CC66FF;
}

nav {
    background-color: #CC66FF;
    border-bottom: 1px solid black;
}

nav ul.menu {
    list-style: none;
    display: flex;
    padding: 20px 0;
    margin: 0;
}

.menu-index {
    justify-content: flex-end;
}

.menu-page {
    justify-content: center;
}

nav ul.menu li{
    margin: 0 10px;
    color: black;
	border-bottom-color: none;
}

nav ul.menu li a {
    color: inherit;
}

.wrapper {
    padding: 40px 0;
    flex: 1;
}
.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.slide {
    padding-top: 40px;
}

@media only screen and (max-width: 768px) {
    .hero {
        padding-top: 0px;
    }
}

html, body {
  height: 100%;
  margin: 0;
}

@media only screen and (max-width: 768px) {
    .hero .container {
        width: 100% !important;
        max-width: 100%;
        padding: 0
    }
}


.shadow-image {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
}

.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}

.historia {
    margin-bottom: 40px;
}
.piedepagina {
	font-size: 10px;
}
.textos {
	font-size: 15px;
}
.font-roboto {
	font-family: 'Roboto', sans-serif;
}
.titulohistoria {
	font-family: 'Roboto', sans-serif;
}
.titulofont {
	font-size: 44px;
}

.footer {
    background-color:#030000;
    text-align: center;
    color: white;
}

.footer .container {
    padding: 20px 0;
}

.footer .container p {
    margin: 0;
}